.task {
  $root: &;
  background: #fff;
  box-shadow: 0px 3px 5px 3px #eee;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:first-child  .arrow-button_up,
  &:last-child .arrow-button_down {
    opacity: .3;
    pointer-events: none;
  }

  & + & {
    margin-top: 15px;
  }

  @include mq($from: desktop) {
    font-size: 18px;

    &:hover #{$root}__remove {
      opacity: 1;
    }

    & + & {
      margin-top: 20px;
    }
  }

  &__box {
    display: flex;
    align-items: baseline;
    padding: 15px 20px;
    flex-grow: 1;

    @include mq($from: desktop) {
      padding: 20px;
    }
  }

  &__checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + #{$root}__text:hover:before {
      border-color: $green-color;
    }

    &:checked + #{$root}__text {
      opacity: 0.2;

      &:before {
        border-color: $green-color;
        background-color: $green-color;
        background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"%3e%3cpath fill="%23fff" d="M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z"/%3e%3c/svg%3e');
        box-shadow: 0 0 0 5px rgba($green-color, 0.25);
      }
    }

    &:disabled + #{$root}__text:before {
      background-color: #e9ecef;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    user-select: none;
    transition: all .5s;
  
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      box-sizing: border-box;
      box-shadow: 0 0 0 0 rgba($green-color, 0);
      transition: all .2s;
    }
  }
}