.header {
  background: $blue-color;
  padding: 10px 0;

  &__title {
    text-align: center;
    margin: 0;
    font-size: 25px;

    @include mq($from: 'desktop') {
      font-size: 35px;
    }
  }

  &__holder {
    @include holder;
  }
}