// base color vars
$gray-color: #f5f5f5;
$light-green-color: #d2e9e6;
$green-color: #66c5ba;

// semantic color vars
$text-color: #393939;

// typography vars
$base-font-size: 16px;
$circe: 'Circe', 'Arial', 'Helvetica', sans-serif;

// media queries vars
$mq-breakpoints: (
  mobile:  320px,
  tablet: 640px,
  desktop:  1024px,
  wide:    1280px,
  desktopAd: 810px,
  mobileLandscape: 480px
);